#background{
    background-image: url(../images/world-history.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#wrapper{
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    color: white;
}

#subwrapper{
    font-weight: bold;
    font-size: 125%;
    text-align: center;
    color: white;
}

button{
    font-size: 75%;
}